<% provide(:title, "game") %>
<div id="menu target">
	<div id="wrapper">
	  <div id="gameview">
	    <%= image_tag("game map.png", alt: "map of north america", id: "gameBoard", class: "image-fluid") %>
	    <% 90.times do |n| %>
	    <div class='countrybox' id='country<%=n+1%>' onclick='countryClick(<%=n+1%>)'>
		  	<div class='icon' id='icon<%=n+1%>'></div>
		  	<div id='label<%=n+1%>' class='label'></div>
  		</div>
  		<%end%>
  	</div>
 	</div>

