<%= provide(:title, "New Game") %>
<h1>New Game</h1>
<div class="flex-wrapper">
  <div class='newGame'>
  <%= semantic_form_for(@game) do |f| %>
    <%= render 'shared/error_messages', object: @game %>
    <%= f.inputs do %>
    <%= f.input :nick_name %>
    <%= f.input :num_of_players, max: 8, min: 3%>

    <%= f.semantic_fields_for :player do |p| %>
      <%= render 'shared/error_messages', object: @player %>
      <%= p.input :icon, max: 99, min: 0, as: :number%>
      <%end%>
    <%end%>
    <%= f.actions do %>
      <%= f.action :submit, :as => :input %>
    <% end %>
  <% end %>
  <div id='icon-preview'></div>
  </div>


  <div class="icons-box">
    <%= react_component "IconBox" %>
  </div>
</div>
