<%= javascript_include_tag "play" %>
<%= provide(:title, "Playing Game #{@game.id}") %>
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
  	<%=render "sidebar" %>
	</div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="map_wrapper">
				<%= svg('game_map') %>
			  <div id='gameview'>
			  <%= image_tag("game_map_overlay.png", class: 'overlay') %>
			    <% (1..90).each do |n| %>
			    <div class="countrybox" id='territory<%=n%>'>
			    	<div class='icon' id='icon<%=n%>'>
			      </div>
			      <div id='label<%=n%>' class='T-label'>
			      </div>
			    </div>
			    <%end%>
			  </div>
			</div>
  </div>
</div>

<script type="text/javascript">
	$("#sidebar").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
    $(this).toggleClass("toggled");
  });
</script>