<% provide(:title, @game.nick_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <%= link_to "<- games", games_path %><br><br>
      <h1>
        <%= @game.nick_name %> 
        <%= link_to "edit", edit_game_path if is_creator_of?(@game)%>
      </h1>
	<strong>Created | </strong><%= @game.created_at %><br>
	<strong>Created by | </strong><%= creator_of(@game) %><br>
  <strong>Number of players | </strong><%= @game.num_of_players %><br>
  <strong>Players joined | </strong><%= @game.players.size %><br>
  <ul class="players"><% @game.players.each do |player| %>
  <li><%= player.user.name %></li>
  <%end%>
  </ul>
  <strong>Active | </strong><%= @game.active %><br>
  <% if @game.territory_owners.count == 1 %>
  Territory Owners assigned<br>
  <%end%>
  <% if @game.territory_reserves.count == 1 %>
  Territory Reserves assigned<br>
  <%end%>
  <% if @game.random_select %>
  territories randomly selected<br>
  <% else %>
  territories manually selected<br>
  <%end%>
  <% unless has_joined(@game) %>
  <%= link_to "join", @game, method: :join unless @game.active%>
  <%end%>
  <% if is_creator_of?(@game) %>
    <%= link_to "delete game", @game, method: :delete,
      data: { confirm: "Are you sure you want to delete this game?" } %>
  <%end%>
  <% if @game.active && has_joined(@game) %>
  	<%= link_to "play game", play_path %>
  <%end%>
    </section>
  </aside>
</div>