<%= provide(:title, "Join Game #{@game.id}") %>
<h1>Join Game <%=@game.id%></h1>
<div class="flex-wrapper">
  <div class="newGame">
  <%= form_for(@player) do |f| %>
   <strong>Please select a icon from the list at right and enter the code below:</strong><br>
    <%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag :game_id, @game.id %>

    <%= f.number_field :icon, class: 'form-control number-box right-float', max: 99, min: 0%>

    <%= f.submit "Join Game", class: "btn btn-primary" %>
  <% end %>
    <div style='margin-top: 20px'>
      <strong>Other players:</strong><br>
      <ul class="players"><% @game.players[0..-2].each do |player| %>
        <li>
          <%= icon_for(player) %>
          <%= player.user.name %>
        </li>
      <%end%>
      </ul>
    </div>
    <div id="icon-preview"></div>
  </div>
  <div class="icons-box">
    <%= react_component "IconBox" %>
  </div>
</div>