<header class="navbar navbar-fixed-top green">
	<div class="container-fluid">
		<div id="left-nav" class="collapse navbar-collapse">
			<div id='diceBox'>
		  	<%= image_tag("dice_red6.png", alt: "dice") %>
		  	<%= image_tag("dice_red5.png", alt: "dice") %>
		  	<%= image_tag("dice_red4.png", alt: "dice") %>
		  	<%= image_tag("dice_white3.png", alt: "dice") %>
		  	<%= image_tag("dice_white2.png", alt: "dice") %>
			</div>
		  <div id='menuBox'>      
		  <button class="btn btn-secondary btn-sm"><strong>Tools</strong></button>
		  <button class="btn btn-secondary btn-sm"><strong>Turn In Cards</strong></button>
		  <button class="btn btn-secondary btn-sm" id='endTurn' onclick="endTurn()"><strong>End Turn</strong></button>
		  </div>
	  </div>
	  <div  id='infoBox'>
	  	Player: A dude<br>
	  	Territories: 15<br>
	  	Reserves: 0<br>
	  	Indiana vs Ohio
	  </div>
	  <div class="nav navbar-toggle collapsed" data-toggle="collapse" data-target='#menu target'>
	  	<button class="btn btn-secondary btn-sm"><strong>End Turn</strong></button>
	  	<hr>
      <nav class="navbar navbar-default" role='navigation'>
		  	<div class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<button type="button">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
	        </a>
	        <ul class="dropdown-menu">
	          <li><%= link_to "Home", root_path %></li>
			    	<li><%= link_to "Help", help_path %></li>
			    	<li><%= link_to "game", game_path %></li>
	        </ul>
	      </div>
	    </nav>
	  </div>
	  <div class="collapse navbar-collapse" id="mu-dd">
		  <ul class="nav navbar-nav pull-right header_link border">
		    <li><%= link_to "Home", root_path %></li>
		    <li><%= link_to "Help", help_path %></li>
		    <li><%= link_to "game", game_path %></li>
		  </ul>
		</div>
	</div>        
</header>
